<% content_for :admin_content do %>

<!-- Data block -->
<article class="data-block">
	<div class="data-container">
		<header>
			<h2><%= yield :question_form_title %></h2>
			<br />
			<h2><%= @quiz.name %></h2>
			<h3><%= @section.name %></h3>
			
			<ul class="data-header-actions">
				<%= link_to(admins_quiz_section_path(@quiz,@section),:class => "btn btn-danger", :data => { :confirm => "Are you sure about canceling the form?" } ) do %>
				 Back to section
				<% end %>	
			</ul>
		</header>
		<section class="tab-content">
			
			<!-- Form starts here -->
			<div class="span9" style="margin-left: 15px;">
				  <%= form_for([:admins,@quiz,@section,@question]) do |f| %>
				  <% if @question.errors.any? %>
				  
				  	<div class="alert alert-error">
						<button class="close" data-dismiss="alert"></button>
						<strong><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved!</strong>
						<br />
						<br /> 
						<ul>
					      <% @question.errors.full_messages.each do |msg| %>
					        <li><%= msg %></li>
					      <% end %>
					    </ul>
					</div>
				  <% end %>
				  
				    <div class="control-group">
						<label class="control-label" for="input"><%= f.label :type %></label>
						<div class="controls">
							<%= f.collection_select :type_id, Type.all,:id,:name, :class => "input-xlarge" %>
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label" for="input"><%= f.label :topic %></label>
						<div class="controls">
							<%= f.collection_select :topic_id, Topic.all,:id,:name, :class => "input-xlarge" %>
						</div>
					</div>
				
				  	<div class="control-group">
						<label class="control-label" for="input"><%= f.label :sequence_no %></label>
						<div class="controls">
							<%= f.number_field :sequence_no, :class => "input-xlarge" %>
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label" for="input"><%= f.label :instruction %></label>
						<div class="controls">
							<%= f.text_area :instruction, :class => "input-xlarge" %>
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label" for="input"><%= f.label :passage %></label>
						<div class="controls">
							<%= f.text_area :passage, :class => "input-xlarge" %>
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label" for="input"><%= f.label :que_text %></label>
						<div class="controls">
							<%= f.text_area :que_text, :class => "input-xlarge" %>
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label" for="input"><%= f.label :sol_text %></label>
						<div class="controls">
							<%= f.text_area :sol_text, :class => "input-xlarge" %>
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label" for="input"><%= f.label :option_set_count %></label>
						<div class="controls">
							<%= f.number_field :option_set_count, :class => "input-xlarge" %>
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label" for="input"><%= f.label :que_image %></label>
						<div class="controls">
							<%= f.text_field :que_image, :class => "input-xlarge" %>
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label" for="input"><%= f.label :sol_image %></label>
						<div class="controls">
							<%= f.text_field :sol_image, :class => "input-xlarge" %>
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label" for="input"><%= f.label :di_location %></label>
						<div class="controls">
							<%= f.text_field :di_location, :class => "input-xlarge" %>
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label" for="input"><%= f.label :quantity_a %></label>
						<div class="controls">
							<%= f.text_area :quantity_a, :class => "input-xlarge" %>
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label" for="input"><%= f.label :quantity_b %></label>
						<div class="controls">
							<%= f.text_area :quantity_b, :class => "input-xlarge" %>
						</div>
					</div>
				  	
				  	<div class="form-actions">
						<%= f.submit :class => "btn btn-info" %>
					</div>
				<% end %>
			</div>
			<!-- Form ends here -->
		</section>
	</div>
</article>
<!-- /Data block -->

<br />

<% end %>

<%= render 'admins/admin_base' %>