<% content_for :admin_content do %>

<h2 style="margin-left: 380px;">Question <span id="number"><%= @question.sequence_no %></span> of 20</h2>

<%= link_to(admins_quiz_section_question_path(@quiz,@section,(@question.sequence_no + 1) == 21 ? 20 : @question.sequence_no + 1 ),:class => "win-command",:style=>"float:right;margin-top: -50px;") do %>
    <span class="win-commandimage win-commandring"></span>
    <span class="win-label">Next</span>
<% end %>

<%= link_to(admins_quiz_section_question_path(@quiz,@section,(@question.sequence_no - 1) == 0 ? 1 : @question.sequence_no - 1 ),:class => "win-command",:style=>"float:right;margin-top: -50px;") do %>
    <span class="win-commandimage win-commandring"></span>
    <span class="win-label">Previous</span>
<% end %>

<%= link_to(admins_quiz_section_path(@quiz,@section),:class => "win-command",:style=>"float:right;margin-top: -50px;") do %>
    <span class="win-commandimage win-commandring"></span>
    <span class="win-label">Back to section</span>
<% end %>        

<% if @question.type.code == "V-TC-1" ||
      @question.type.code == "V-TC-2" ||
      @question.type.code == "V-TC-3" ||
      @question.type.code == "V-SE" ||
      @question.type.code == "Q-QC" ||
      @question.type.code == "Q-MCQ-1" ||
      @question.type.code == "Q-MCQ-2" ||
      @question.type.code == "Q-NE-1" ||
      @question.type.code == "Q-NE-2"
%>

    <%= render 'admins/questions/single_pane_question' %>

<% elsif @question.type.code == "V-MCQ-1" ||
         @question.type.code == "V-MCQ-2" ||
         @question.type.code == "V-SIP" ||
         @question.type.code == "Q-DI-MCQ-1" ||
         @question.type.code == "Q-DI-MCQ-2" ||
         @question.type.code == "Q-DI-NE-1" ||
         @question.type.code == "Q-DI-NE-2"
%>

    <%= render 'admins/questions/twopane_question' %>

<% else %>

    <%= render 'admins/questions/general' %>

<% end %>

<% end %>

<%= render 'admins/admin_base' %>