<p id="notice"><%= notice %></p>

<%= link_to (@section.quiz.name) , quiz_path(@section.quiz) %> ->
<%= link_to (@section.name) , quiz_section_path(@section.quiz,@section) %>

<p>
  <b>Sequence no:</b>
  <%= @question.sequence_no %>
</p>

<p>
  <b>Header:</b>
  <%= @question.header %>
</p>

<p>
  <b>Instruction:</b>
  <%= @question.instruction %>
</p>

<p>
  <b>Passage:</b>
  <%= @question.passage %>
</p>

<p>
  <b>Que text:</b>
  <%= @question.que_text %>
</p>

<p>
  <b>Sol text:</b>
  <%= @question.sol_text %>
</p>

<p>
  <b>Option set count:</b>
  <%= @question.option_set_count %>
</p>

<p>
  <b>Que image:</b>
  <%= @question.que_image %>
</p>

<p>
  <b>Sol image:</b>
  <%= @question.sol_image %>
</p>

<p>
  <b>Di location:</b>
  <%= @question.di_location %>
</p>

<p>
  <b>Quantity a:</b>
  <%= @question.quantity_a %>
</p>

<p>
  <b>Quantity b:</b>
  <%= @question.quantity_b %>
</p>

<p>
  <b>Type:</b>
  <%= @question.type ? @question.type.name : "N/A" %>
</p>

<p>
  <b>Topic:</b>
  <%= @question.topic ? @question.topic.name : "N/A" %>
</p>

<p>
  <b>Section:</b>
  <%= @question.section ? @question.section.name : "N/A" %>
</p>

<p>
  <b>Options:</b>
  <table>
  <tr>
    <th>Content</th>
    <th>Correct</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @question.options.order("sequence_no ASC").each do |option| %>
  <tr>
    <td><%= option.content %></td>
    <td><%= option.correct %></td>
    <td><%= link_to 'Show', quiz_section_question_option_path(option.question.section.quiz,option.question.section,option.question,option) %></td>
    <td><%= link_to 'Edit', edit_quiz_section_question_option_path(option.question.section.quiz,option.question.section,option.question,option) %></td>
    <td><%= link_to 'Destroy', quiz_section_question_option_path(option.question.section.quiz,option.question.section,option.question,option), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>
</p>


<%= link_to 'Edit', edit_quiz_section_question_path(@quiz,@section,@question) %> |
<%= link_to 'Back', quiz_section_path(@quiz,@section) %>
