<% content_for :admin_content do %>

<!-- Data block -->
<article class="data-block">
	<div class="data-container">
		<header>
			<h2><span class="awe-tasks"></span> Quizzes</h2>
			<ul class="data-header-actions">
				<%= link_to(new_quiz_path,:class => "btn btn-primary") do %>
				 Create New Quiz
				<% end %>
			</ul>
		</header>
		<section class="tab-content">
			<!-- Tab #static -->
			<div class="tab-pane active" id="static">
				<h3><span class="awe-edit"></span> Full Tests</h3>				
				
				<%= render :partial => "quiz_table", :locals => { :table_type => "full_timed" }  %>
				
				<%= render :partial => "quiz_table", :locals => { :table_type => "full_practice" }  %>
			</div>	
		</section>
		
		<section class="tab-content">
			<!-- Tab #static -->
			<div class="tab-pane active" id="static">
				<h3><span class="awe-edit"></span> Category Tests</h3>
				<%= render :partial => "quiz_table", :locals => { :table_type => "category_timed" }  %>
                
                <%= render :partial => "quiz_table", :locals => { :table_type => "category_practice" }  %>
			</div>	
		</section>
		
		<section class="tab-content">
			<!-- Tab #static -->
			<div class="tab-pane active" id="static">
				<h3><span class="awe-edit"></span> Topic Tests</h3>
				<%= render :partial => "quiz_table", :locals => { :table_type => "topic_timed" }  %>
                
                <%= render :partial => "quiz_table", :locals => { :table_type => "topic_practice" }  %>
            </div>
		</section>
		
		
		<footer class="error">
			<div class="alert alert-error">
				<strong style="font-size: 15px;">DO NOT MODIFY CONTENT OF APPROVED QUIZ IF YOU DON'T KNOW WHAT YOU ARE DOING !</strong>
			</div>
		</footer>
	</div>
</article>
<!-- /Data block -->

<br />

<% end %>

<%= render 'admins/admin_base' %>