<% content_for :admin_content do %>

<!-- Data block -->
<article class="data-block">
	<div class="data-container">
		<header>
			<h2><%= @quiz.name %></h2>
			<br />
			<span class="label"><%= @quiz.quiz_type.name %></span>
			
			<!-- Category & Topic -->
			<% if @quiz.category_id != nil %> 
			  <span class="label"><%= @quiz.category.name %></span>
			<% end %>
			<% if @quiz.topic_id != nil %> 
			  <span class="label"><%= @quiz.topic.name %></span>
			<% end %>
			
			<!-- In-Store / Waiting Approval / Unpublished. -->
			<% if @quiz.approved %>
	    		<span class="label label-success">In-Store</span>
	    	<% elsif @quiz.published %>
	    		<span class="label label-warning">Awaiting approval</span>
			<% else %>
	    		<span class="label label-error">Unpublished</span>						    		
	    	<% end %>
			
			<ul class="data-header-actions">
				
				<!-- Publisher account -->
				<% if current_user.role? :publisher %>
					
					<% if @quiz.approved %>
						<li class="demoTabs">
						<a class="btn disabled" href="#">In-Store</a>
						</li>
					<% elsif @quiz.published %>
						<li class="demoTabs">
						<%= button_to('Un-Publish', { :action => "unpublish", :quiz_id => @quiz.id } , :confirm => 'Are you sure you want to unpublish this test?',
          					:method => "post", :remote => false, :disable_with => 'unpublishing...') %>
						</li>
					<% else %>	
						<li class="demoTabs">
						<%= button_to('Publish', quiz_publish_path(@quiz) , :confirm => 'Are you sure you want to publish this test?',
          					:method => :post, :remote => false, :disable_with => 'publishing...') %>
						</li>
					<% end %>
				
				<% end %>
				
				<!-- Admin account -->
				<% if (current_user.role? :admin) || (current_user.role? :super_admin) %>
					
					<% if @quiz.approved %>
						<li class="demoTabs">
						<%= button_to('Un-Approve', { :action => "unapprove", :quiz_id => @quiz.id } , :confirm => 'Are you sure you want to unapprove this test?',
          					:method => "post", :remote => false, :disable_with => 'unpublishing...') %>
						</li>
					<% else %>	
						
						<% if @quiz.published %>
							<li class="demoTabs">
							<%= button_to('Approve', { :action => "approve", :quiz_id => @quiz.id } , :confirm => 'Are you sure you want to approve this test?',
	          					:method => "post", :remote => false, :disable_with => 'unpublishing...') %>
							</li>
							<li class="demoTabs">
							<%= button_to('Reject', { :action => "reject", :quiz_id => @quiz.id } , :confirm => 'Are you sure you want to reject this test?',
	          					:method => "post", :remote => false, :disable_with => 'unpublishing...') %>
							</li>
						<% else %>
							<li class="demoTabs">
							<%= button_to('Publish', { :action => "publish", :quiz_id => @quiz.id } , :confirm => 'Are you sure you want to publish this test?',
	          					:method => "post", :remote => false, :disable_with => 'publishing...') %>
							</li>
						<% end %>
						
					<% end %>
				
				<% end %>
				
				<li class="demoTabs">
				<%= link_to(edit_quiz_path(@quiz),:class => "btn btn-primary	" ) do %>
				 Edit
				<% end %>
				</li>
				<li class="demoTabs">
				<%= link_to(quizzes_path,:class => "btn") do %>
				 Back
				<% end %>	
				</li>
			</ul>
		</header>
		<section class="tab-content">
			
			<!-- Form starts here -->
			<div class="span9" style="margin-left: 15px;">
			  	
				<div class="control-group">
					<div class="controls">
					<p>
					<%= text_area_tag :display_text, @quiz.desc ,:rows=>10, :cols=>40,  :disabled => true, :class=>"span8" %>
					</p>
					</div>
				</div>
				
				<div class="control-group">
					<header>
					<h3>Sections</h3>
					<ul class="data-header-actions">
						<li class="demoTabs">
						<%= link_to(new_quiz_section_path(@quiz),:class => "btn") do %>
						 Create New Section
						<% end %>	
						</li>
					</ul>
					</header>
					<div class="controls">
						<table class="table table-hover">
						 <thead>
						  <tr>
						    <th>Name</th>
						    <th>Sequence no</th>
						    <th>Section type</th>
						    <th></th>
						  </tr>
						  </thead>
						  <tbody>
							<% @quiz.sections.order("sequence_no ASC").each do |section| %>
							  <tr>
							    <td><%= section.name %></td>
							    <td><%= section.sequence_no %></td>
							    <td><%= section.section_type.name %></td>
							    <td class="toolbar">
							      <div class="btn-group">
							    	<%= link_to(quiz_section_path(section.quiz,section), :class => "btn") do %>
							    	  <span class="awe-eye-open"></span>
							    	<% end %>
							    	<%= link_to(edit_quiz_section_path(section.quiz,section), :class => "btn") do %>
							    	  <span class="awe-wrench"></span>
							    	<% end %>
							    	<%= link_to(quiz_section_path(section.quiz,section), method: :delete, data: { confirm: 'Are you sure you want to delete this quiz' }, :class => "btn") do %>
							    	  <span class="awe-remove"></span>
							    	<% end %>
							      </div>
							    </td>
							  </tr>
							<% end %>
						  </tbody>
						  </table>
					</div>
				</div>
				
				<div class="control-group">
					<h3>Images</h3>
					
					<%= button_to "Delete all images", {:controller => 'quizzes', :action => 'question_images_delete_all', :quiz_id => @quiz.id}, {:class => "btn btn-inverse",:confirm => "Are you sure you want to delete all images?" } %>	
					
					<div style="float: middle;height:118px;" class="table table-bordered">
				    <%= form_for @quiz, :url => quiz_question_images_upload_url(@quiz), :method => :post, :html => { :multipart => true } do |fe| %> 
				    <%= fe.file_field :quiz_question_images,:class => "form_fields",:multiple => true %> <br /> <br />
				    <%= fe.submit "Upload Images",:confirm => "Are you sure you want to add selected images ?", :method => :post, :data => { :confirm => 'This will delete current questions for this quiz. Are you sure you want to upload new questions?' },
				                    :class => "btn btn-inverse",:style => "float:left;margin-left: 20px;margin-top:-5px" %> 
				    <div style="margin-top: 0px;float: left;margin-left: 15px;">
				            This will add images to the quiz.
				    </div>
				    <%	 end %>
					</div>
					
				</div>
				
				<div class="control-group">
				<h3>Upload</h3>
				
					<div style="float: middle;height:118px;" class="table table-bordered">
						<%= form_for @quiz, :url => upload_full_excel_quiz_path(@quiz), :method => :post, :html => { :multipart => true } do |fe| %> 
						<%= fe.file_field :full_quiz_excel,:class => "form_fields" %> <br /> <br />
						<%= fe.submit "Upload Questions",:confirm => "Are you sure you want to overwrite existing questions?", :method => :post, :data => { :confirm => 'This will delete current questions for this quiz. Are you sure you want to upload new questions?' },
						                :class => "btn btn-inverse",:style => "float:left;margin-left: 20px;margin-top:-5px" %> 
						<div style="margin-top: 0px;float: left;margin-left: 15px;">
						        This will overwrite the entire test.
						</div>
						<% end %>
					</div>
				</div>
				
			</div>
			<!-- Form ends here -->
		</section>
	</div>
</article>
<!-- /Data block -->

<br />

<% end %>

<%= render 'admins/admin_base' %>
