<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @quiz.name %>
</p>

<p>
  <b>Random:</b>
  <%= @quiz.random %>
</p>

<p>
  <b>Quiz type:</b>
  <%= @quiz.quiz_type.name %>
</p>

<p>
  <b>Category:</b>
  <%= @quiz.category ? @quiz.category.name : "N/A" %>
</p>

<p>
  <b>Topic:</b>
  <%= @quiz.topic ? @quiz.topic.name : "N/A" %>
</p>


<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
