<div style="margin-top: 70px;">

<h2 style="margin-bottom: 10px;">You're almost done! Now create a password to securely access your account.</h2>

<%= form_for(resource, :as => resource_name, :url => confirm_path, :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>
  
  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>
  
  <%= f.hidden_field :confirmation_token %>

  <div><%= f.submit "Confirm Account" %></div>
<% end %>

</div>
