<% content_for :admin_content do %>

<!-- Data block -->
<article class="data-block">
	<div class="data-container">
		<section class="tab-content">
			<!-- Form starts here -->
			<div class="span11" style="margin-left: 15px;">
				  <%= form_for([:admins, @quiz]) do |f| %>
				  <legend><%= yield :quiz_form_title %></legend>
				  <% if @quiz.errors.any? %>
				  
				  	<div class="alert alert-error">
						<button class="close" data-dismiss="alert"></button>
						<strong><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved!</strong>
						<br />
						<br /> 
						<ul>
					      <% @quiz.errors.full_messages.each do |msg| %>
					        <li><%= msg %></li>
					      <% end %>
					    </ul>
					</div>
				  <% end %>
				
				  	<div class="control-group">
						<label class="control-label" for="input"><%= f.label :name %></label>
						<div class="controls">
							<%= f.text_field :name, :class => "input-xlarge" %>
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label" for="input"><%= f.label :desc %></label>
						<div class="controls">
							<%= f.text_area :desc, :class => "input-xlarge" %>
						</div>
					</div>
				  	
				  	<div class="control-group" id="category_select">
						<label class="control-label" for="input"><%= f.label :category %></label>
						<div class="controls">
							<%= f.collection_select :category_id, Category.all, :id, :name %>
						</div>
					</div>
				  	
				  	<div class="form-actions">
				  		<%= link_to(admins_quizzes_path,:class => "btn" ) do %>
						 Cancel
						<% end %>
						<%= f.submit :class => "btn btn-info" %>
					</div>
				<% end %>
			</div>
			<!-- Form ends here -->
		</section>
	</div>
</article>
<!-- /Data block -->

<br />

<% end %>

<%= render 'admins/admin_base' %>
