<!-- Set values that need to be used for specific cases -->
<% 

if table_type == "full"
  @quizzes = @full_quizzes
  @name_header_label = ""
  @category_topic_header_label = ""
elsif table_type == "section"
  @quizzes = @section_quizzes
  @name_header_label = ""
  @category_topic_header_label = ""
elsif table_type == "category"
  @name_header_label = "Quiz name"
  @quizzes = @category_quizzes
  @category_topic_header_label = "Category"
elsif table_type == "topic"
  @name_header_label = ""
  @quizzes = @topic_quizzes
  @category_topic_header_label = "Topic"
end

%>
    
<table class="table table-hover">
    <thead>
        <tr>
            <th><%= @name_header_label %></th>
            <th><%= @category_topic_header_label %></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        <% @quizzes.each do |quiz| %>
          <tr>
            <td>
                <%= quiz.name %>
                <% if quiz.approved %>
                    <span class="label label-success">In-Store</span>
                <% elsif quiz.published %>
                    <span class="label label-warning">Awaiting approval</span>
                <% else %>
                    <span class="label label-error">Unpublished</span>                                  
                <% end %>
            </td>
            <td>
                <% if table_type == "category" %>
                <%= quiz.category ? quiz.category.name : "" %>
                <% elsif table_type == "topic" %>
                <%= quiz.topic ? quiz.topic.name : "" %>
                <% end %>
            </td>
            <td>
                <%= link_to 'view',admins_quiz_path(quiz)%>
                <%= link_to 'edit', edit_admins_quiz_path(quiz) %>
                <%= link_to(admins_quiz_path(quiz), method: :delete, data: { confirm: 'Are you sure you want to delete this quiz' }) do %>
                  delete
                <% end %>
            </td>
          </tr>
        <% end %>
    </tbody>
</table>