
<%  content_for :main_unit do %>
    <div class="row">
      <div class="span6">
        <div class="row video">
          <div class="row tagline">
            <h1>A powerful GRE prep tool</h1>
            <p class="lead">take mock tests that emulate real GRE pattern along with detailed analysis of your score. </p>
            <div class="video">
              <img src="http://placehold.it/500x400"/>
            </div>
          </div>
        </div>
        <div class="row misc">
        </div>
      </div>
      <div class="span5">
        <div class="row">
          <a id="take-a-mock-btn" class="btn span6 green"><h2>Start</h2><p>a demo test</p></a>

          <div id="sign-up" class="span6 light-grey">

            <h2>Sign Up </h2>
            <p>We bet you won't regret.<br/> A couple of free full length tests are waiting to be taken.<br/></p>
            <hr/>
            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-horizontal" } ) do |f| %>
                <%= devise_error_messages! %>

                <div class="control-group">
                  <%= f.label :full_name, { :class => 'control-label' } %>
                  <div class="controls">
                    <%= f.text_field :email, { :id => "icon", :placeholder => "Full name", :class => "span3"} %>
                  </div>
                </div>

                <div class="control-group">
                  <%= f.label :email, { :class => 'control-label' } %>
                  <div class="controls landing_sign_up_textbox">
                    <%= f.email_field :email, { :id => "icon", :placeholder => "Email", :class => "span3" } %>
                  </div>
                </div>

                <div class="control-group">
                  <%= f.label :password, { :class => 'control-label' } %>
                  <div class="controls">
                    <%= f.password_field :password, { :id => "icon", :placeholder => "Password", :class => "span3"} %>
                  </div>
                </div>

                <div class="control-group">
                  <%= f.label :confirm_password, { :class => 'control-label' } %>
                  <div class="controls">
                    <%= f.password_field :password_confirmation, { :id => "icon", :placeholder => "Re-enter password",  :class => "span3"} %>
                  </div>
                </div>

                <div class="control-group">
                  <div class="controls">
                    <%= f.submit "Sign up", { :class => "btn" } %>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
<%end%>

<div id="main-container" class="container">
  <div class="row pull-right">
    <div class="box light-grey span3">
      <h3>1,000,000</h3>
      <p>test taken already</p>
    </div>

    <div class="box light-grey span3">
      <h3>2,000,000</h3>
      <p>people practicing everyday</p>
    </div>

    <div class="box light-grey span3">
      <h3>50,000</h3>
      <p>tests sold</p>
    </div>

    <div class="box light-grey span3">
      <h3>1,000,000</h3>
      <p>test taken already</p>
    </div>
  </div>
  <div class="row marketing pull-right">
    <h1>Features</h1>
    <p class="marketing-byline"> The most awesome way to prepare for GRE</p>
    <div class="span4" >
      <h3>feature title</h3>
      <img src="http://placehold.it/300x200" alt="">
      <p>feature desription goes here</p>
    </div>
    <div class="span4" >
      <h3>feature title</h3>
      <img src="http://placehold.it/300x200" alt="">
      <p>feature desription goes here</p>
    </div>
    <div class="span4" >
      <h3>feature title</h3>
      <img src="http://placehold.it/300x200" alt="">
      <p>feature desription goes here</p>
    </div>
    <div class="span4" >
      <h3>feature title</h3>
      <img src="http://placehold.it/300x200" alt="">
      <p>feature desription goes here</p>
    </div>
    <div class="span4" >
      <h3>feature title</h3>
      <img src="http://placehold.it/300x200" alt="">
      <p>feature desription goes here</p>
    </div>
  </div>
</div>

<hr>

<footer>
  <p>&copy; Company 2012</p>
</footer>

</div> <!-- /container -->