<% content_for :nav_menu_header do %>
    Reports
<% end %>
<div>
<h2>List of Completed Quizzes</h2>
  <%= form_tag admins_reports_path, :method => 'get' do %>
      <div>
        <%= label_tag "Select Quiz" %>
        <%= select_tag 'quiz_id', options_for_select(@quizzes.collect{ |q| [q.name, q.id] }),:include_blank => true %>
        <%= date_select("attempt", "created_on") %>
        <%= submit_tag "Get Reports", :name => nil %>
      </div>
  <% end %>
<% if @attempts %>
<table class="table span6">
  <thead>
    <tr>
      <td>Quiz</td>
      <td>Score</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @attempts.each do |attempt| %>
      <tr>
      <td><%= attempt.quiz.name %></td>
      <td><%= attempt[:report]['total']['correct'].to_s %> / <%= attempt[:report]['total']['questions'].to_s %></td>
      <td><a href="/reports/<%=attempt.quiz.slug%>" data-no-turbolink>show report</a></td>
      <td><a href="/reviews/<%=attempt.quiz.slug%>" data-no-turbolink>view solution</a></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<% end %>