<% content_for :head_top do %>
    <%= stylesheet_link_tag "huraga-blue.css" %>
<% end %>

<% content_for :nav_menu_header do %>
	Admin
<% end %>

<div id="admin-content" style="width:100%">
	<div style="float:left;margin-left: 15px;">
		<!-- Left (navigation) side -->
			<div class="navigation-block affix-top">
				<!-- Main navigation -->
				<nav class="main-navigation" role="navigation">
					<ul>
						<li <% if @current_controller == "admins" && @current_action == "home" %>class = "current"<% end %> >
							<%= link_to(admins_home_path, :class => "no-submenu") do %>
							<span class="awe-home"></span>Dashboard
							<% end %>
						</li>
						<li <% if @current_controller == "packages" %>class = "current"<% end %> >
							<%= link_to(packages_path, :class => "no-submenu") do %>
							<span class="awe-th-large"></span>Packages
							<% end %>
						</li>
						<li <% if @current_controller == "quizzes" || 
								  @current_controller == "sections" || 
								  @current_controller == "questions" || 
								  @current_controller == "options" %>class = "current"<% end %> >
							<%= link_to(quizzes_path, :class => "no-submenu") do %>
							<span class="awe-tasks"></span>Quizzes
							<span class="badge">7</span>
							<% end %>
						</li>
						<li <% if @current_controller == "categories" %>class = "current"<% end %> >
							<%= link_to(categories_path, :class => "no-submenu") do %>
							<span class="awe-sitemap"></span>Categories
							<% end %>
						</li>
						<li <% if @current_controller == "types" %>class = "current"<% end %> >
							<%= link_to(types_path, :class => "no-submenu") do %>
							<span class="awe-tags"></span>Types
							<% end %>
						</li>
						<li <% if @current_controller == "topics" %>class = "current"<% end %> >
							<%= link_to(topics_path, :class => "no-submenu") do %>
							<span class="awe-folder-close"></span>Topics
							<% end %>
						</li>
						<li <% if @current_controller == "quiz_types" %>class = "current"<% end %> >
							<%= link_to(quiz_types_path, :class => "no-submenu") do %>
							<span class="awe-flag"></span>QuizTypes
							<% end %>
						</li>
						<li <% if @current_controller == "section_types" %>class = "current"<% end %> >
							<%= link_to(section_types_path, :class => "no-submenu") do %>
							<span class="awe-folder-open"></span>SectionTypes
							<% end %>
						</li>
						<li><a href="file-explorer.html" class="no-submenu"><span class="awe-file"></span>Student Management</a></li>
					</ul>
				</nav>
				<!-- /Main navigation -->
	</div>
</div>
<div style="float:left;margin-left: 20px;">
    <div class="span8">
      <%= yield(:admin_content) %>
    </div>

</div>
</div>