<% content_for :nav_menu_header do %>
	Admin
<% end %>

<div id="admin-content">
<!-- Main navigation -->
<nav role="navigation">
    <ul class="nav nav-tabs">
        <li <% if @current_controller == "quizzes" ||
                  @current_controller == "sections" ||
                  @current_controller == "questions" ||
                  @current_controller == "options" %>class = "active"<% end %> >
            <%= link_to(admins_quizzes_path, :class => "no-submenu") do %>
            Quizzes

            <% end %>
        </li>
        <li <% if @current_controller == "students" %>class = "active"<% end %> >
            <%= link_to(admins_students_path, :class => "no-submenu") do %>
            Students
            <% end %>
        </li>
        <li <% if @current_controller == "categories" %>class = "active"<% end %> >
            <%= link_to(admins_categories_path, :class => "no-submenu") do %>
            Categories
            <% end %>
        </li>
        <li <% if @current_controller == "types" %>class = "active"<% end %> >
            <%= link_to(admins_types_path, :class => "no-submenu") do %>
            Types
            <% end %>
        </li>
        <li <% if @current_controller == "topics" %>class = "active"<% end %> >
            <%= link_to(admins_topics_path, :class => "no-submenu") do %>
            Topics
            <% end %>
        </li>
        

        <% if current_user.role? :super_admin %>
          <li <% if @current_controller == "admins" && @current_action == "home" %>class = "active"<% end %> >
            <%= link_to(admins_home_path, :class => "no-submenu") do %>
                <span class="awe-home"></span>Dashboard
            <% end %>
          </li>
          <li <% if @current_controller == "packages" %>class = "active"<% end %> >
            <%= link_to(admins_packages_path, :class => "no-submenu") do %>
                <span class="awe-th-large"></span>Packages
            <% end %>
          </li>
            <li <% if @current_controller == "quiz_types" %>class = "active"<% end %> >
                <%= link_to(admins_quiz_types_path, :class => "no-submenu") do %>
                <span class="awe-flag"></span>Quiz Types
                <% end %>
            </li>
            <li <% if @current_controller == "section_types" %>class = "active"<% end %> >
                <%= link_to(admins_section_types_path, :class => "no-submenu") do %>
                <span class="awe-folder-open"></span>Section Types
                <% end %>
            </li>

            <li <% if @current_controller == "credits" %>class = "active"<% end %> >
                <%= link_to(admins_credits_path, :class => "no-submenu") do %>
                <span class="awe-money"></span>Credits
                <% end %>
            </li>
            <li <% if @current_controller == "transactions" %>class = "active"<% end %> >
                <%= link_to(admins_transactions_path, :class => "no-submenu") do %>
                <span class="awe-credit-card"></span>Transactions
                <% end %>
            </li>
            <li <% if @current_controller == "offers" %>class = "active"<% end %> >
                <%= link_to(admins_offers_path, :class => "no-submenu") do %>
                <span class="awe-gift"></span>Offers
                <% end %>
            </li>
        <% end %>
    </ul>
</nav>
<!-- /Main navigation -->
<%= yield(:admin_content) %>
</div>