<%= stylesheet_link_tag "huraga-blue.css" %>	

<% content_for :nav_menu_header do %>
	Admin
<% end %>

<div style="width:100%">
	<div style="float:left;margin-left: 15px;">
		<!-- Left (navigation) side -->
			<div class="navigation-block affix-top">
				<!-- Main navigation -->
				<nav class="main-navigation" role="navigation">
					<ul>
						<li <% if @current_controller == "admins" && @current_action == "home" %>class = "current"<% end %> >
							<%= link_to(admins_home_path, :class => "no-submenu") do %>
							<span class="awe-home"></span>Dashboard
							<% end %>
						</li>
						<li <% if @current_controller == "packages" %>class = "current"<% end %> >
							<%= link_to(packages_path, :class => "no-submenu") do %>
							<span class="awe-signal"></span>Packages
							<% end %>
						</li>
						<li><a href="forms.html" class="no-submenu"><span class="awe-tasks"></span>Quizzes<span class="badge">7</span></a></li>
						<li <% if @current_controller == "categories" %>class = "current"<% end %> >
							<%= link_to(categories_path, :class => "no-submenu") do %>
							<span class="awe-signal"></span>Categories
							<% end %>
						</li>
						<li <% if @current_controller == "types" %>class = "current"<% end %> >
							<%= link_to(types_path, :class => "no-submenu") do %>
							<span class="awe-table"></span>Types
							<% end %>
						</li>
						<li><a href="file-explorer.html" class="no-submenu"><span class="awe-file"></span>Student Management</a></li>
					</ul>
				</nav>
				<!-- /Main navigation -->
	</div>
</div>
<div style="float:left;margin-left: 20px;">
	<%= yield(:admin_content) %>
</div>
</div>