<div id="content" class="span12">
  <div class="span8">
    <section class="category-section first">
    <h2><%= @category.name %></h2>
    <hr>
    <!-- show only three per row -->
    <div class="row">
      <% @quizzes.each do |quiz| %>
      <div class="span2 quiz-tile">
        <img src="http://placehold.it/150x100"/>
        <div class="caption">
          <h3>
              <%= link_to quiz.name, show_practice_test_path(:quiz_slug => quiz.slug) %>
          </h3>
          <p><%= quiz.desc %></p>
          <p><%= (quiz.price == 0) ? "Free" : "\u20B9 " + quiz.price.to_s %></p> 
          <p>
              <% if quiz.approved == false %>
                <% if quiz.published == false %>
                   <span class="label label-warning">Unpublished</span>
                <% else %>
                   <span class="label label-important">Awaiting Approval</span>
                <% end %>
              <% end %>
          </p>
          
          <% if current_user.has_purchased_quiz?(quiz.id) %>
            <div>
              <%= button_to( "Purchased" , "#" , :disabled => true ) %>
            </div>
          <% else %>
                
            <div class="actions hide btn-group">
               <%= link_to( "Buy"  , cart_items_path(:quiz_id => quiz.id,:back_controller => "checkout",:back_action => "show_cart") ,
                        :method => "post", :disable_with => 'adding to cart...', :disabled => current_user.has_purchased_quiz?(quiz.id), :class => "btn btn-primary") %>
            <% cart_item_id = current_user.get_cart_item_id_for_quiz(quiz.id) %>
            <% if cart_item_id != -1 %>
                <a href="#" rel="tooltip" class="btn remove-cart-btn" title="Remove from Cart" data-disabled-with="removing.." data-value="<%=quiz.id%>" data-id="<%= cart_item_id %>">
                  <span class="icon-remove"></span>
                </a>
            <% else %>
                <a href="#" rel="tooltip" class="btn add-cart-btn" title="Add to Cart" data-disabled-with="adding.." data-value="<%=quiz.id%>">
                  <span class="icon-plus"></span>
                </a>
            <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
    </section>
   </div> 
</div>
