<% content_for :head do %>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script> \
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Year', 'Sales', 'Expenses'],
                ['2004',  1000,      400],
                ['2005',  1170,      460],
                ['2006',  660,       1120],
                ['2007',  1030,      540]
            ]);
            var sectionData = google.visualization.arrayToDataTable([
                ['Section', 'Your score', 'Highest score yet'],
                <% @report.map do |key,value| %>
                    <% percent = ((value[:correct]*100)/20) %>
                    ['<%=value[:section_name]%>',<%= percent %>,90]<%= "," unless key == @report.keys.last %>
                <% end %>
            ]);

            var options = {
                colors: ['#2f87ed','#d3d3d3'],
                vAxis: {title: 'Quiz Sections',  titleTextStyle: {color: '#2f87ed'}},
                hAxis:{maxValue:100,minValue:0}
            };

            var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
            chart.draw(sectionData, options);
        }
    </script>

<% end %>
<div id="quiz_result">
 <div class="span12">
 <h1>Test Results</h1>
 <div class="row-fluid">
 <h2>Section Wise</h2>
 <div class="span4">
   <table class="table">
      <tbody>
          <% @report.each do |name,value| %>
          <tr>
            <td><h3><%=value[:section_name]%></h3></td>
            <td><p><%= value[:correct] %> / <%=  value[:total] %></p> </td>
          </tr>
          <% end %>
      </tbody>
   </table>
 </div>
 <div id="chart_div" class="span6" style="height: 500px; margin-top: -130px;"></div>
 </div>
 </div>
</div>
</div>
