<% content_for :admin_content do %>

<!-- Data block -->
<article class="data-block">
	<div class="data-container">
		<header>
				<%= link_to(new_admins_quiz_type_path,:class => "btn btn-primary") do %>
				 Create New Quiz Type
				<% end %>
		</header>
		<section class="tab-content">
		
			<!-- Tab #static -->
			<div class="tab-pane active" id="static">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						
						<% @quiz_types.each do |quiz_type| %>
						  <tr>
						    <td><%= quiz_type.name %></td>
						    <td>
						    	<%= link_to 'Show', admins_quiz_type_path(quiz_type) %>
						    	<%= link_to 'Edit', edit_admins_quiz_type_path(quiz_type)%>
						    	<%= link_to(admins_quiz_type_path(quiz_type), method: :delete, data: { confirm: 'Are you sure you want to delete this QuizType' }) do %>
						    	  Delete
						    	<% end %>
						    </td>
						  </tr>
						<% end %>
					</tbody>
				</table>
            </div>
		</section>
	</div>
</article>
<!-- /Data block -->

<br />

<% end %>

<%= render 'admins/admin_base' %>
