<% content_for :admin_content do %>

<!-- Data block -->
<article class="span12 data-block">
	<div class="data-container">
		<header>
			<h2>Types</h2>
			<ul class="data-header-actions">
				<%= link_to(new_type_path,:class => "btn btn-alt btn-inverse") do %>
				 Create New Type
				<% end %>	
			</ul>
		</header>
		<section class="tab-content">
		
			<!-- Tab #static -->
			<div class="tab-pane active" id="static">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Code</th>
							<th>Category</th>
							<th>Name</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						
						<% @types.each do |type| %>
						  <tr>
						  	<td><%= type.code %></td>
						  	<td><%= type.category.name %></td>
						    <td><%= type.name %></td>
						    <td class="toolbar">
						      <div class="btn-group">
						    	<%= link_to(type, :class => "btn") do %>
						    	  <span class="awe-eye-open"></span>
						    	<% end %>
						    	<%= link_to(edit_type_path(type), :class => "btn") do %>
						    	  <span class="awe-wrench"></span>
						    	<% end %>
						    	<%= link_to(type, method: :delete, data: { confirm: 'Are you sure you want to delete this type?' }, :class => "btn") do %>
						    	  <span class="awe-remove"></span>
						    	<% end %>
						      </div>
						    </td>
						  </tr>
						<% end %>
					</tbody>
				</table>
		</section>
		<footer class="error">
			<div class="alert alert-error">
				<strong style="font-size: 15px;">DO NOT DELETE OR RENAME CODE IF YOU DON'T KNOW WHAT YOU ARE DOING !</strong>
			</div>
		</footer>
	</div>
</article>
<!-- /Data block -->

<br />

<% end %>

<%= render 'admins/admin_base' %>