<% content_for :admin_content do %>

<!-- Data block -->
<article class="data-block">
	<div class="data-container">
		<header>
			<ul class="data-header-actions">
				<%= link_to(new_admins_category_path,:class => "btn btn-primary") do %>
				 Create New Category
				<% end %>	
			</ul>
		</header>
		<section class="tab-content">
		
			<!-- Tab #static -->
			<div class="tab-pane active" id="static">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Code</th>
							<th>Name</th>
							<th>SectionType</th>
							<th>Slug</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						
						<% @categories.each do |category| %>
						  <tr>
						    <td><%= category.code %></td>
						    <td><%= category.name %></td>
						    <td><%= category.section_type ? category.section_type.name : "N/A" %></td>
						    <td><%= category.slug %></td>
						    <td>
						    	<%= link_to 'Show', admins_category_path(category) %>
						    	<%= link_to 'Edit', edit_admins_category_path(category) %>
						    	<%= link_to(admins_category_path(category), method: :delete, data: { confirm: 'Are you sure you want to delete this category?' }, :class => "btn") do %>
						    	  Delete
						    	<% end %>
						    </td>
						  </tr>
						<% end %>
					</tbody>
				</table>
            </div>
		</section>
		<footer class="error">

		</footer>
	</div>
</article>
<!-- /Data block -->

<br />

<% end %>

<%= render 'admins/admin_base' %>