<% content_for :admin_content do %>

<!-- Data block -->
<article class="data-block">
	<div class="data-container">
		<header>
			<h2>Showing a category</h2>
			<ul class="data-header-actions">
				<%= link_to(edit_admins_category_path(@category),:class => "btn btn-warning" ) do %>
				 Edit
				<% end %>
				<%= link_to(admins_categories_path,:class => "btn btn-danger") do %>
				 Back
				<% end %>	
			</ul>
		</header>
		<section class="tab-content">
			
			<!-- Form starts here -->
			<div class="span11" style="margin-left: 15px;">
			  	<div class="control-group">
					<label class="control-label" for="input">Code</label>
					<div class="controls">
						<p><%= @category.code %></p>
						<p class="help-block">This is used at several places in the source code. DO NOT CHANGE.</p>
					</div>
				</div>
			  	
			  	<div class="control-group">
					<label class="control-label" for="textarea">Name</label>
					<div class="controls">
						<p><%= @category.name %></p>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="input">Section Type</label>
					<div class="controls">
						<p><%= @category.section_type ? @category.section_type.name : "N/A" %></p>
					</div>
				</div>
				
			</div>
			<!-- Form ends here -->
		</section>
	</div>
</article>
<!-- /Data block -->

<br />

<% end %>

<%= render 'admins/admin_base' %>
