<% content_for :admin_content do %>

<!-- Data block -->
<article class="data-block">
	<div class="data-container">
		<header>
			<h2><%= yield :option_form_title %></h2>
			<ul class="data-header-actions">
				<%= link_to(quiz_section_question_path(@quiz,@section,@question.sequence_no),:class => "btn btn-alt btn-danger", :data => { :confirm => "Are you sure about canceling the form?" } ) do %>
				 Cancel
				<% end %>	
			</ul>
		</header>
		<section class="tab-content">
			
			<!-- Form starts here -->
			<div class="span11" style="margin-left: 15px;">
				  <%= form_for(@option, :url => quiz_section_question_options_path(@quiz,@section,@question.sequence_no)) do |f| %>
				  <% if @option.errors.any? %>
				  
				  	<div class="alert alert-error">
						<button class="close" data-dismiss="alert"></button>
						<strong><%= pluralize(@option.errors.count, "error") %> prohibited this option from being saved!</strong>
						<br />
						<br /> 
						<ul>
					      <% @option.errors.full_messages.each do |msg| %>
					        <li><%= msg %></li>
					      <% end %>
					    </ul>
					</div>
				  <% end %>
				
				  	<div class="control-group">
						<label class="control-label" for="input"><%= f.label :content %></label>
						<div class="controls">
							<%= f.text_area :content, :class => "input-xlarge" %>
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label" for="input"><%= f.label :correct %></label>
						<div class="controls">
							<%= f.check_box :correct, :class => "input-xlarge" %>
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label" for="input"><%= f.label :sequence_no %></label>
						<div class="controls">
							<%= f.number_field :sequence_no, :class => "input-xlarge" %>
						</div>
					</div>
				  	
				  	<div class="form-actions">
						<%= f.submit :class => "btn btn-info" %>
					</div>
				<% end %>
			</div>
			<!-- Form ends here -->
		</section>
	</div>
</article>
<!-- /Data block -->

<br />

<% end %>

<%= render 'admins/admin_base' %>
