<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @section.name %>
</p>

<p>
  <b>Sequence no:</b>
  <%= @section.sequence_no %>
</p>

<p>
  <b>Quiz:</b>
  <%= @section.quiz.name %>
</p>

<p>
  <b>Section type:</b>
  <%= @section.section_type.name %>
</p>


<%= link_to 'Edit', edit_quiz_section_path(@section) %> |
<%= link_to 'Back', quiz_sections_path %>
