<% content_for :admin_content do %>

<!-- Data block -->
<article class="data-block">
	<div class="data-container">
		<header>
			<h2><span class="awe-money"></span> Credits Activity Log</h2>
			<ul class="data-header-actions">
				<%= link_to(admins_credits_path,:class => "btn btn-primary") do %>
				 Back to Credits Management
				<% end %>
			</ul>
		</header>
		<section class="tab-content">
			<!-- Tab #static -->
			<div class="tab-pane active" id="static">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>When ?</th>
							<th>Actor</th>
							<th>Action</th>
							<th>Target</th>
							<th>Activity</th>
							<th>Desc</th>
						</tr>
					</thead>
					<tbody>
						<% @activity_logs.each do |activity_log| %>
						  <tr>
						  	<td><%= activity_log.updated_at.in_time_zone("Mumbai").strftime("%d-%b-%y %H:%M:%S") %></td>
						    <td><%= activity_log.actor.full_name %></td>
						    <td><%= activity_log.action %></td>
						    <td>
						    	<% if activity_log.target.profile_image_url.to_s != "" %>
				              	  <img id="profile-image" style="width:50px;height: 50px;" src= "<%= activity_log.target.profile_image_url.to_s %>" alt="">
				                <% else %>
				              	  <img id="profile-image" style="width:50px;height: 50px;" src="/assets/metro-user.png" alt="">
				                <% end %>
						    	<%= activity_log.target.full_name %>
						    </td>
						    <td><%= activity_log.activity %></td>
						    <td><%= activity_log.desc %></td>
						  </tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</section>
	</div>
</article>
<!-- /Data block -->

<br />

<% end %>

<%= render 'admins/admin_base' %>