<% content_for :admin_content do %>

<!-- Data block -->
<article class="data-block">
	<div class="data-container">
		<header>
			<% if current_user.role? :super_admin %>
			<ul class="data-header-actions">
				<%= link_to(admins_credits_activity_log_path,:class => "btn btn-primary") do %>
				 Activity Log
				<% end %>
			</ul>
			<% end %>
		</header>
		<section class="tab-content">
			<!-- Tab #static -->
			<div class="tab-pane active" id="static">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Pic</th>
							<th>Name</th>
							<th>Email</th>
							<th>Credits</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% @users.each do |user| %>
						  <tr>
						  	<td>
							  	<% if user.profile_image_url.to_s != "" %>
				              	  <img id="profile-image" style="width:50px;height: 50px;" src= "<%= user.profile_image_url.to_s %>" alt="">
				                <% else %>
				              	  <img id="profile-image" style="width:50px;height: 50px;" src="/assets/metro-user.png" alt="">
				                <% end %>
						  	</td>
						    <td><%= user.full_name %></td>
						    <td><%= user.email %></td>
						    <td><%= user.credits %></td>
						    <td>
						    	<%= link_to 'Edit', admins_new_user_credit_path(user.id) %>
						    </td>
						  </tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</section>
	</div>
</article>
<!-- /Data block -->

<br />

<% end %>

<%= render 'admins/admin_base' %>