<% content_for :admin_content do %>

<!-- Data block -->
<article class="data-block">
	<div class="data-container">
		<header>
			<% if @user.profile_image_url.to_s != "" %>
	      	  <img id="profile-image" style="width:50px;height: 50px;margin-right: 9px;" src= "<%= @user.profile_image_url.to_s %>" alt="">
	        <% else %>
	      	  <img id="profile-image" style="width:50px;height: 50px;margin-right: 9px;" src="/assets/metro-user.png" alt="">
	        <% end %>
			<h2><%= @user.full_name %>'s account</h2>
			<code style="margin-left: 10px;">Available Credits: <%= @user.credits %></code>
			<ul class="data-header-actions">
				<li>
					<%= link_to(credits_index_path,:class => "btn") do %>
					 Back
					<% end %>
				</li>
			</ul>
		</header>
		<section class="tab-content">
			
			<!-- Form starts here -->
			<div class="span9" style="margin-left: 15px;">
			  	
				<div class="control-group">
					<div class="controls">
					<p>
					<div class="input-append">
					
					    <h3>Add credits</h3>
					    <br />
						<%= form_tag(credits_path(@user.id), :method=>'post', :style => "") do %>
						     <div class="control-group">
                                <label class="control-label" for="input">Description</label>
                                <div class="controls">
                                    <%= select_tag(:credits_add_desc_dropdown, options_for_select(['Renaissance Student',
                                                                           'Cash Received','Custom'])) %>
                                </div>
                            </div>
                            <div class="control-group" id="credits_add_custom_desc">
                                <label class="control-label" for="input">Custom Description</label>
                                <div class="controls">
                                    <input name="custom_desc_add" class="input-xxlarge" type="text">
                                </div>
                            </div>
						    <div class="control-group">
                                <label class="control-label" for="input">Credits to add</label>
                                <div class="controls">
                                    <% if current_user.role? :super_admin %>
                                        <%= number_field_tag(:credits_to_add,nil, :in => 50..2000,:step => 50,:value => 50) %>
                                    <% else %>
                                        <%= select_tag(:credits_to_add, options_for_select(['1000',
                                                                           '1500',
                                                                           '2000'], '2000')) %>
                                    <% end %>
                                </div>
                            </div>
                            <div class="form-actions">
                                <%= submit_tag 'Add Credits',:class => "btn" %>
                            </div>
						<% end %>
						
						<h3>Remove credits</h3>
                        <br />
                        <%= form_tag(remove_credits_path(@user.id), :method=>'delete', :style => "") do %>
                             <div class="control-group">
                                <label class="control-label" for="input">Description</label>
                                <div class="controls">
                                    <%= select_tag(:credits_remove_desc_dropdown, options_for_select(['Renaissance Student',
                                                                           'Cash Received','Custom'])) %>
                                </div>
                            </div>
                            <div class="control-group" id="credits_remove_custom_desc">
                                <label class="control-label" for="input">Custom Description</label>
                                <div class="controls">
                                    <input name="custom_desc_remove" class="input-xxlarge" type="text">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="input">Credits to add</label>
                                <div class="controls">
                                    <% if current_user.role? :super_admin %>
                                        <%= number_field_tag(:credits_to_remove,nil, :in => 50..2000,:step => 50,:value => 50) %>
                                    <% else %>
                                        <%= select_tag(:credits_to_remove, options_for_select(['1000',
                                                                           '1500',
                                                                           '2000'], '2000')) %>
                                    <% end %>
                                </div>
                            </div>
                            <div class="form-actions">
                                <%= submit_tag 'Remove Credits',:class => "btn" %>
                            </div>
                        <% end %>
						
					</div>
					</p>
					</div>
				</div>
				
				
			</div>
			<!-- Form ends here -->
		</section>
	</div>
</article>
<!-- /Data block -->

<br />

<% end %>

<%= render 'admins/admin_base' %>
