
<% content_for :nav_menu_header do %>
	Test Hub
<% end %>

<div class="row-fluid">
  <div class="metro span12">
    <div id="metrosections" class="metro-sections">

      <div id="section1" class="metro-section tile-span-6">
        <div class="row">
          <h2><%= @first_name%></h2>
          <h4><%= @last_name%></h4>
        </div>
        <div class="row">
          <div class="span3" id = '<%= current_user.id %>' >
            <div class="square image">

              <% if current_user.profile_image_url.to_s != "" %>
              	<img id="profile-image" style="cursor:pointer;width:150px;height: 150px;" src= "<%= current_user.profile_image_url.to_s %>" alt="">
              <% else %>
              	<img id="profile-image" style="cursor:pointer;width:150px;height: 150px;" src="/assets/metro-user.png" alt="">
              <% end %>

            </div>

            <input type="button" id="remove-image-btn" value="Remove Image" data-confirm="Are you sure you want to remove the image?">

            <%= form_tag("/users/profiles/update_profile_pic", :multipart => true) do %>
			  <input id="profile_pic_uploader" type="file" name="profile_pic_file" style="display:none;" />
			<% end %>

          </div>
          <!-- TODO: This needs to be uncommented when we have enough data for suggesting areas of improvement.  
          <div class="span3">
            <p>You should work on</p>
            <% current_user.areas_of_improvement.first(3).each do |area_of_improvement| %>
            <p><a href="#"><%= area_of_improvement.name %></a></p>
            <% end %>

            <% if current_user.areas_of_improvement.count > 3 %>
            <p><a href="#">more</a></p>
            <% end %>
          </div>
          -->
          <div class="span3">

            <div class="row-fluid">
              <h2>Verbal</h2>

              <div class="span3">
                <em class="lead"><%= current_user.verbal_highest %></em>
                <small>highest</small>
              </div>
              <div class="span3">
                <em class="lead"><%= current_user.verbal_average %></em>
                <small>average</small>
              </div>
            </div>
            <div class="row-fluid">
              <h2>Quant</h2>

              <div class="span3">
                <em class="lead"><%= current_user.quant_highest %></em>
                <small>highest</small>
              </div>
              <div class="span3">
                <em class="lead"><%= current_user.quant_average %></em>
                <small>average</small>
              </div>
            </div>

          </div>
          <div class="span2">
            <div class="row-fluid">
              <h1><%= current_user.overall_highest %></h1>
              <small>highest</small><span> / 340</span>
            </div>
            <div class="row-fluid">
              <h1><%= current_user.overall_average %></h1>
              <small>average</small><span> / 340</span>
            </div>
            <div class="row">
            </div>
          </div>
        </div>

      </div>
      <div id="section2" class="metro-section tile-span-2">
        <div class="row">
          <%= link_to timed_tests_path, :class=>"tile app bg-color-green" do%>
              <div class="image-wrapper">
                <span class="icon icon-cart"></span>
              </div>
              <div class="app-label">Store</div>
          <% end %>
          <%= link_to reports_path, :class=>"tile app" do%>
            <div class="image-wrapper">
              <span class="icon icon-stats-up"></span>
            </div>
            <div class="app-label">Reports</div>
          <% end %>
        </div>
      </div>

      <!-- <a id="tiles-scroll-prev" class="win-command carousel-control left" href="#metro-carousel" data-slide="prev">
       <span class="win-commandimage win-commandring">&#xe05d;</span>
    </a>
    <a id="tiles-scroll-next"  class="win-command carousel-control right" href="#metro-carousel" data-slide="next">
       <span class="win-commandimage win-commandring">&#xe059;</span>
     </a> -->

    </div>
  </div>
</div>
<!-- <hr class="soften"> -->

<% if @active_tab == :category_quiz  %>
	<% fullquiz_li_class = "" %>
	<% fullquiz_tabpane_class = "tab-pane" %>
	<% categoryquiz_li_class = "active" %>
	<% categoryquiz_tabpane_class = "tab-pane active" %>
<% else %>
	<% fullquiz_li_class = "active" %>
	<% fullquiz_tabpane_class = "tab-pane active" %>
	<% categoryquiz_li_class = "" %>
	<% categoryquiz_tabpane_class = "tab-pane" %>
<% end %>

<div id="content">
  <section id="available-tests">
  <header class="title">Available Tests</header>
  <ul class="nav nav-pills" id="available-test-tabs">
    <li class= '<%= fullquiz_li_class %>' ><a href="#full-test">Timed Tests</a></li>
    <li class= '<%= categoryquiz_li_class %>' ><a href="#category-test">Practice Tests</a></li>
  </ul>

  <div class="tab-content">
    <div class= '<%= fullquiz_tabpane_class %>' id="full-test">
      <ul class="test-list">

      	<% current_user.purchased_full_quizzes.each do |full_quiz| %>

      		<!%-- Set the css properties based on the status of the quiz --%>
      		<% status = full_quiz.quiz_users.where(:quiz_id => full_quiz.id,:user_id => current_user.id).first.status %>

      		<% if status == :new %>
      			<% li_class = "mediumListIconTextItem new"  %>
      			<% command_btn_image = "" %>
      			<% action_text = "Start" %>
      		<% elsif status == :paused %>
      			<% li_class = "mediumListIconTextItem pause"  %>
      			<% command_btn_image = "" %>
      			<% action_text = "Start" %>
      		<% elsif status == :completed %>
      		    <% li_class = "mediumListIconTextItem complete"  %>
      		    <% command_btn_image = "" %>
      		    <% action_text = "Review" %>
      		<% end %>

      		<li class= "<%= li_class %>">
	          <small><%= status %></small>
	          <div class="mediumListIconTextItem-Detail">
	            <h4><%= full_quiz.name %></h4>
	            <h6><%= full_quiz.desc %></h6>
	          </div>
	          <div class="command-btn pull-right">
                <% if status == :completed  %>
                    <%= link_to('/reports/'+full_quiz.id.to_s, :class=>'win-command', :'data-no-turbolink' => true) do %>
                        <span class="win-commandimage win-commandring"><%= command_btn_image %></span>
                        <span class="win-label"><%= action_text %></span>
                    <% end %>
                <%else%>
                    <%= link_to('/test_center/index?quiz_id='+full_quiz.id.to_s, :class=>'win-command', :'data-no-turbolink' => true) do %>
                        <span class="win-commandimage win-commandring"><%= command_btn_image %></span>
                        <span class="win-label"><%= action_text %></span>
                    <% end %>
                <% end %>

	          </div>
	        </li>
      	<% end %>

      </ul>
      <%= link_to "Get more timed tests", timed_tests_path %>
    </div>

  	<div class= '<%= categoryquiz_tabpane_class %>' id="category-test">
                <ul class="test-list">

            <% current_user.purchased_category_topic_quizzes.each do |category_topic_quiz| %>

      		<!%-- Set the css properties based on the status of the quiz --%>
      		<% status = category_topic_quiz.quiz_users.where(:quiz_id => category_topic_quiz.id,:user_id => current_user.id).first.status %>

      		<% if status == :new %>
      			<% li_class = "mediumListIconTextItem new"  %>
      			<% command_btn_image = "" %>
      			<% action_text = "Start" %>
      		<% elsif status == :paused %>
      			<% li_class = "mediumListIconTextItem pause"  %>
      			<% command_btn_image = "" %>
      			<% action_text = "Start" %>
      		<% elsif status == :completed %>
      		    <% li_class = "mediumListIconTextItem complete"  %>
      		    <% command_btn_image = "" %>
      		    <% action_text = "Review" %>
      		<% end %>

      		<li class= "<%= li_class %>">
	          <small><%= status %></small>
	          <div class="mediumListIconTextItem-Detail">
	            <h4><%= category_topic_quiz.name %></h4>
	            <h6><%= category_topic_quiz.desc %></h6>
	          </div>
	          <div class="command-btn pull-right">
	            <button class="win-command">
	              <span class="win-commandimage win-commandring"><%= command_btn_image %></span>
	              <span class="win-label"><%= action_text %></span>
	            </button>
	          </div>
	        </li>
      		<% end %>

                </ul>
                <%= link_to "Get more practise tests", practice_tests_path %>
            </div>

  </div>
  </section>
  </div>
  		<%= button_to "Reset user quizzes", { :action => "reset_user_quizzes" },
          :confirm => "Are you sure you want to delete all the quizzes ?", :method => :delete %>
  </div>
</div>
