<section class="container login signin" role="main">
	<header id="sign_in_header">
				<h2><span class="awe-edit"></span> Sign in</h2>
	</header>
<div class="data-block">
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	  <div class="control-group">
	  <%= f.label :email, { :class => "control-label" } %><br />
	  <div class="controls">
	  	<%= f.email_field :email,{ :id => "icon", :placeholder => "Enter your email", :class => "sign_up_email" } %>
	  </div>
	  </div>
	  
	  <div class="control-group">
	  <%= f.label :password, { :class => "control-label" } %><br />
	  <div class="controls">
	  	<%= f.password_field :password,{ :id => "icon", :placeholder => "Enter your password", :class => "sign_up_email" } %>
	  </div>
	  </div>
	
	  <% if devise_mapping.rememberable? -%>
	  <label class="checkbox">
	    <div><%= f.check_box :remember_me %> <%= f.label :remember_me,{:class=>"checkbox sign_up_chbx_lbl"} %></div>
	   </label>
	  <% end -%>
	
	  <div><%= f.submit "Sign in", { :class => "btn btn-large btn-inverse btn-alt" } %></div>
	<% end %>
</div>
<p><%= render "devise/shared/links" %></p>
</section>


