<h1>Listing offers</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Title</th>
    <th>Desc</th>
    <th>Start</th>
    <th>Stop</th>
    <th>Global</th>
    <th>Active</th>
    <th>Credits</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @offers.each do |offer| %>
  <tr>
    <td><%= offer.code %></td>
    <td><%= offer.title %></td>
    <td><%= offer.desc %></td>
    <td><%= offer.start %></td>
    <td><%= offer.stop %></td>
    <td><%= offer.global %></td>
    <td><%= offer.active %></td>
    <td><%= offer.credits %></td>
    <td><%= link_to 'Show', offer %></td>
    <td><%= link_to 'Edit', edit_offer_path(offer) %></td>
    <td><%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Offer', new_offer_path %>
