<% content_for :admin_content do %>

<!-- Data block -->
<article class="data-block">
    <div class="data-container">
        <header>
            <h2>Showing a offer code</h2>
            <ul class="data-header-actions">
                <%= link_to(edit_offer_path(@offer),:class => "btn btn-warning" ) do %>
                 Edit
                <% end %>
                <%= link_to(offers_path,:class => "btn btn-danger") do %>
                 Back
                <% end %>   
            </ul>
        </header>
        <section class="tab-content">
            
            <!-- Form starts here -->
            <div class="span9" style="margin-left: 15px;">
                <div class="control-group">
                    <label class="control-label" for="input">Code</label>
                    <div class="controls">
                        <p><%= @offer.offer_code.code %></p>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="input">Title</label>
                    <div class="controls">
                        <p><%= @offer.title %></p>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="input">Desc</label>
                    <div class="controls">
                        <p><%= @offer.desc %></p>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="input">Start Datetime</label>
                    <div class="controls">
                        <p><%= @offer.start %></p>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="input">Stop Datetime</label>
                    <div class="controls">
                        <p><%= @offer.stop %></p>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="input">Global</label>
                    <div class="controls">
                        <p><%= @offer.global %></p>
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="input">Active</label>
                    <div class="controls">
                        <p><%= @offer.active %></p>
                    </div>
                </div>
                
                <% if @offer.offer_code.code == "add_credits_on_confirm" %>
                    <div class="control-group">
                        <label class="control-label" for="input">Credits</label>
                        <div class="controls">
                            <p><%= @offer.credits %></p>
                        </div>
                    </div>
                <% elsif @offer.offer_code.code == "add_items_on_confirm" %>
                    
                    <div class="control-group">
                        <label class="control-label" for="input">Quizzes</label>
                        <br />
                        <div class="controls">
                            <table class="table table-hover">
                            <thead>
                                <tr>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <% @offer_quizzes.each do |quiz| %>
                                  <tr>
                                    <td><%= link_to quiz.name, quiz_path(quiz) %></td>
                                    <td class="toolbar">
                                      <div class="btn-group">
                                        <%= link_to(destroy_quiz_from_offer_path(@offer,quiz.id), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn") do %>
                                          <span class="awe-remove"></span>
                                        <% end %>
                                      </div>
                                    </td>
                                  </tr>
                                <% end %>
                            </tbody>
                            </table>
                            
                            <div class="control-group">
                            <label class="control-label" for="input">Add quiz to offer</label>
                            <div class="controls">
                                <%= form_for(@offer, :url => add_quiz_to_offer_path(@offer), :html => { :class => "form-horizontal" , :style=>"background: white;border: 0px;" } ) do |f| %>
                                    <%= collection_select(:quiz, :id, @quizzes, :id, :name, {:prompt => true}) %>
                                    <%= f.submit "Add", :class => "btn btn-flat btn-info" %>
                                <% end %>
                            </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="control-group">
                        <label class="control-label" for="input">Packages</label>
                        <br />
                        <div class="controls">
                            <table class="table table-hover">
                            <thead>
                                <tr>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <% @offer_packages.each do |package| %>
                                  <tr>
                                    <td><%= link_to package.name, package_path(package) %></td>
                                    <td class="toolbar">
                                      <div class="btn-group">
                                        <%= link_to(destroy_package_from_offer_path(@offer,package.id), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn") do %>
                                          <span class="awe-remove"></span>
                                        <% end %>
                                      </div>
                                    </td>
                                  </tr>
                                <% end %>
                            </tbody>
                            </table>
                            
                            <div class="control-group">
                                <label class="control-label" for="input">Add package to offer</label>
                                <div class="controls">
                                    <%= form_for(@offer, :url => add_package_to_offer_path(@offer), :html => { :class => "form-horizontal" , :style=>"background: white;border: 0px;" } ) do |f| %>
                                        <%= collection_select(:package, :id, @packages, :id, :name, {:prompt => true}) %>
                                        <%= f.submit "Add", :class => "btn btn-flat btn-info" %>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                <% end %>
                
                <% if !@offer.global %>
                
                    <div class="control-group">
                        <label class="control-label" for="input">Email id's for the offer</label>
                        <br />
                        <div class="controls">
                            <table class="table table-hover">
                            <thead>
                                <tr>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <% @offer_users.each do |offer_user| %>
                                  <tr>
                                    <td><%= offer_user.email %></td>
                                    <td class="toolbar">
                                      <div class="btn-group">
                                        <%= link_to(destroy_email_from_offer_path(@offer,offer_user.email), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn") do %>
                                          <span class="awe-remove"></span>
                                        <% end %>
                                      </div>
                                    </td>
                                  </tr>
                                <% end %>
                            </tbody>
                            </table>
                            
                            <div class="control-group">
                            <label class="control-label" for="input">Add emails to offer</label>
                            <div class="controls">
                                <%= form_for(@offer, :url => add_emails_to_offer_path(@offer), :html => { :class => "form-horizontal" , :style=>"background: white;border: 0px;" } ) do |f| %>
                                    <%= text_area_tag 'emails', nil, :rows => 10, :cols => 125,:style => "width:550px" %>
                                    <br />
                                    <%= f.submit "Add", :class => "btn btn-flat btn-info" %>
                                <% end %>
                            </div>
                            </div>
                        </div>
                    </div>
                  
                <% end %>
                
            </div>
            <!-- Form ends here -->
        </section>
    </div>
</article>
<!-- /Data block -->

<br />

<% end %>

<%= render 'admins/admin_base' %>