<% content_for :admin_content do %>

<!-- Data block -->
<article class="data-block">
	<div class="data-container">
		<header>
			<h2><%= @quiz.name %></h2>
			<h3><%= @section.name %></h3>
			<h3>Question # <%= @question.sequence_no %></h3>
			<% if @question.type %>
			<span class="label">
			  <%= @question.type ? @question.type.name : "N/A" %>
			</span>
			<% end %>
			
			<% if @question.topic %>
			<span class="label">
			  <%= @question.topic ? @question.topic.name : "N/A" %>
			</span>
			<% end %>
			
			<ul class="data-header-actions">
				<%= link_to(edit_admins_quiz_section_question_option_path(@quiz,@section,@question.sequence_no,@option.sequence_no),:class => "btn btn-warning" ) do %>
				 Edit
				<% end %>
				<%= link_to(admins_quiz_section_question_path(@quiz,@section,@question.sequence_no),:class => "btn btn-danger" ) do %>
				 Back to question
				<% end %>	
			</ul>
		</header>
		<section class="tab-content">
			
			<!-- Form starts here -->
			<div class="span9" style="margin-left: 0px;">
				
				<div class="control-group">
					<label class="control-label" for="input">Sequence No.</label>
					<div class="controls">
						<p>
						 <%= @option.sequence_no %>
						</p>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="input">Content</label>
					<div class="controls">
						<p>
						 <%= @option.content %>
						</p>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="input">Correct</label>
					<div class="controls">
						
						<p>
							
						 <% if @option.correct %> 
						 	<span class="label label-success">True</span> 
						 <% else %>
						 	<span class="label label-failure">False</span>
						 <% end %>
						 
						</p>
					
					</div>
				</div>
				
			</div>
			<!-- Form ends here -->
		</section>
	</div>
</article>
<!-- /Data block -->

<br />

<% end %>

<%= render 'admins/admin_base' %>
