<% content_for :admin_content do %>

<!-- Data block -->
<article class="data-block">
	<div class="data-container">
		<header>
			<h2>Categories</h2>
			<ul class="data-header-actions">
				<%= link_to(new_category_path,:class => "btn btn-primary") do %>
				 Create New Category
				<% end %>	
			</ul>
		</header>
		<section class="tab-content">
		
			<!-- Tab #static -->
			<div class="tab-pane active" id="static">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Code</th>
							<th>Name</th>
							<th>SectionType</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						
						<% @categories.each do |category| %>
						  <tr>
						    <td><%= category.code %></td>
						    <td><%= category.name %></td>
						    <td><%= category.section_type.name %></td>
						    <td class="toolbar">
						      <div class="btn-group">
						    	<%= link_to(category, :class => "btn") do %>
						    	  <span class="awe-eye-open"></span>
						    	<% end %>
						    	<%= link_to(edit_category_path(category), :class => "btn") do %>
						    	  <span class="awe-wrench"></span>
						    	<% end %>
						    	<%= link_to(category, method: :delete, data: { confirm: 'Are you sure you want to delete this package?' }, :class => "btn") do %>
						    	  <span class="awe-remove"></span>
						    	<% end %>
						      </div>
						    </td>
						  </tr>
						<% end %>
					</tbody>
				</table>
		</section>
		<footer class="error">
			<div class="alert alert-error">
				<strong style="font-size: 15px;">DO NOT DELETE OR RENAME CODE IF YOU DON'T KNOW WHAT YOU ARE DOING !</strong>
			</div>
		</footer>
	</div>
</article>
<!-- /Data block -->

<br />

<% end %>

<%= render 'admins/admin_base' %>