<% content_for :footer do %>
    <script type="text/javascript">
      $("body").scrollspy({
      });
      $("#sidebar li").on('activate',function(event){

      });
    </script>
<% end %>
<div id="content" class="row">
<div class="span3">
  <div id="sidebar" class="accordion">
    <% @sections.each do |section| %>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#sidebar" href="#<%=section.slug%>">
              <%= section.name %>
            </a>
          </div>
          <div id="<%=section.slug%>" class="accordion-body collapse in">
            <div class="accordion-inner">
              <ul class="nav nav-list">
                <% section.questions.each do |question| %>
                    <li><a href="#<%=question.id%>">
                      <% if question.correct %>
                        <i aria-hidden="true" class="icon-checkmark" style="color:green;"></i>
                      <%else%>
                        <i aria-hidden="true" class="icon-cancel-2" style="color:red;"></i>
                      <%end%>
                      &nbsp;<%= question.sequence_no %>
                    </a>
                    </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
<div class="questions span7">
  <h3>Quiz Review</h3>

  <h2>Full Length 101</h2>
  <% @sections.each do |section| %>
      <% section.questions.each do |question| %>
          <div id="<%=question.id%>" style="padding-top: 100px;">
            <h3>Question <%= question.sequence_no %></h3>

            <div class="instruction">
              <p class="lead">Instruction</p>

              <p><%= question.instruction %></p>
            </div>
            <div class="question">
              <p class="lead">Question</p>

              <p><%= question.que_text %></p>
            </div>
            <div class="options">
              <% question.options.each do |option| %>
                  <label class="checkbox">
                    <input type="checkbox" name="option" value="<%= option.id %>">
                    <span class="metro-checkbox"><%= option.content %></span>
                  </label>
              <% end %>
            </div>
          </div>
      <% end %>
  <% end %>
</div>
</div>
