<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $("body").scrollspy({
        offset: 300
      });
      return $("#sidebar li").on('activate', function(event) {
        return $('#sidebar').scrollTop(event.target.offsetTop);
      });
    });
  </script>
<% end %> 
<div class="row">
  <div class="span3">
    <ul id="sidebar" class="nav nav-list">
      <% @sections.each do |section| %>
          <% if @sections.length > 1 %>
            <li class="nav-header"><%= section.name %></li>
          <% else %>
              <li class="nav-header">Questions</li>
          <% end %>
          <% section.questions.each do |question| %>
              <li><a href="#<%= question.id %>">
                <% if question.correct %>
                    <i aria-hidden="true" class="icon-checkmark" style="color:#468847;"></i>
                <% else %>
                    <i aria-hidden="true" class="icon-cancel-2" style="color:#b94a48;"></i>
                <% end %>
                &nbsp;<%= question.sequence_no %>
              </a>
              </li>
          <% end %>
      <% end %>
    </ul>
  </div>
  <div class="questions span8">
    <h3>Quiz Review</h3>

    <h2><%= @quiz.name %></h2>
    <% @sections.each do |section| %>
        <% section.questions.each do |question| %>
            <div id="<%= question.id %>" style="padding-top: 100px;">
              <% if question.sequence_no == 1 %>
                  <% if @sections.length > 1 %>
                    <h3><%= section.name %></h3>
                    <hr>
                  <% end %>
              <% end %>
              <h3>Question <%= question.sequence_no %> <% if question.correct %> <span class="label label-success">you got it right :-)</span><%elsif !question.attempted %> <span class="label label-important">you didn't answer <% else %><span class="label label-important">your got it wrong</span> <% end %></h3>

              <div class="instruction">
                <p class="lead">Instruction</p>
                <p><%= question.instruction %></p>
              </div>
              <% if question.passage && question.passage.sub("-","").strip() != "" %>
              <div class="passage" >
                <a class="passage_show_link" href="#">show 
                  <% if section.section_type.name =~ /verbal/i %>
                  passage
                  <% else %>
                  data
                  <% end %>
                  </a>
                <p class="passage_text" style="display:none;">
                  <%= question.passage %>
                  <% if question.que_image %>
                    <br/>
                    <img style="margin: 0 auto;" src="<%= question.que_image %>" alt=""/>
                  <% end %>
                </p>
              </div>
              <% end %>
              <div class="question">
                <p class="lead">Question</p>
                <p>
                <%= raw question.que_text.gsub!(/<BLANK-[A-Z]*>/i,'<span class="blank"></span>') %>
                </p>
              </div>
              <form>
              <% if question.option_type == :mcq %>
                  <div class="options">
                    <% question.options.each do |option| %>
                        <% if option.selected_by_user && option.correct %>
                            <label class="checkbox">
                              <input type="checkbox" name="option" checked value="<%= option.id %>">
                              <span class="metro-checkbox"><%= option.content %></span>
                              <span class="label label-success">correct answer</span>
                              <span class="label label-info">your answer</span>
                            </label>
                        <% elsif option.selected_by_user %>
                            <label class="checkbox">
                              <input type="checkbox" name="option" checked value="<%= option.id %>">
                              <span class="metro-checkbox"><%= option.content %></span>
                              <span class="label label-important">your answer</span></option>
                            </label>
                        <% elsif option.correct %>
                            <label class="checkbox">
                              <input type="checkbox" name="option" checked value="<%= option.id %>">
                              <span class="metro-checkbox"><%= option.content %></span>
                              <span class="label label-success">correct answer</span></option>
                            </label>
                        <% else %>
                            <label class="checkbox">
                              <input type="checkbox" name="option" value="<%= option.id %>">
                              <span class="metro-checkbox"><%= option.content %></span>
                            </label>
                        <% end %>

                    <% end %>
                  </div>
              <% elsif question.option_type == :ne %>
                  <% ans = question.user_answers.sub ',','/' %>
                  <% if question.correct %>
                      <%= ans %> <span class="label label-info">your answer</span> <span class="label label-success">correct answer</span>
                  <% else %>
                        <% if question.attempted %> <%= ans %> <span class="label label-important">your answer</span> <% end %> <%=  question.options.first.content.sub ',','/' %> <span class="label label-success">correct answer</span>
                  <% end %>
              <% elsif question.option_type == :sip %>

              <% elsif question.option_type == :tc %>
                  <% if question.options.length <= 5 %>
                      <% first = question.options %>
                  <% else %>
                      <% first = question.options[0..2] %>
                  <% end %>
                  <% if question.options.length >= 6 %>
                      <% second = question.options[3..5] %>
                  <% end %>
                  <% if question.options.length == 9 %>
                      <% third = question.options[6..8] %>
                  <% end %>
                  <% if first.length == 3 %>
                      <div class="control-group pull-left" style="margin-right: 10px;">
                        <div class="controls">
                          <label>(i)</label>
                  <% else %>
                      <div class="control-group align-center">
                  <% end %>
                  <select name="option1" multiple="multiple" disabled="true"
                          <% if first.length == 5 %> style="height: 130px;"
                          <% end %> >
                    <% first.each do |option| %>
                        <% if option.selected_by_user && option.correct %>
                            <option value="<%= option.id %>"  style="background-color: #468847; color: white;"><%= option.content %></option>
                        <% elsif option.selected_by_user %>
                            <option value="<%= option.id %>"  style="background-color: #b94a48; color: white;"><%= option.content %></option>
                        <% elsif option.correct %>
                            <option value="<%= option.id %>"  style="background-color: #468847; color: white;"><%= option.content %></option>
                        <% else %>
                            <option value="<%= option.id %>"><%= option.content %></option>
                        <% end %>
                    <% end %>
                  </select>
                  </div>
                  </div>
              <% end %>

              <% if second %>
                  <div class="control-group pull-left" style="margin-right: 10px;" >
                    <div class="controls">
                      <label>(ii)</label>
                      <select name="option2" multiple="multiple" disabled="true">
                        <% second.each do |option| %>
                            <% if option.selected_by_user && option.correct %>
                                <option value="<%= option.id %>"  style="background-color: #468847; color: white;"><%= option.content %></option>
                            <% elsif option.selected_by_user %>
                                <option value="<%= option.id %>"  style="background-color: #b94a48; color: white;"><%= option.content %>
                                  <span class="label label-info">your answer</span></option>
                            <% elsif option.correct %>
                                <option value="<%= option.id %>"  style="background-color: #468847; color: white;"><%= option.content %>
                                  <span class="label label-success">correct answer</span></option>
                            <% else %>
                                <option value="<%= option.id %>"><%= option.content %></option>
                            <% end %>
                        <% end %>
                      </select>
                    </div>
                  </div>

                  <div class="clearfix"></div>
              <% end %>

              <% if third %>
                  <div class="control-group pull-left" style="margin-right: 10px;">
                    <div class="controls">
                      <label>(iii)</label>
                      <select name="option3" multiple="multiple" disabled="true">
                        <% third.each do |option| %>
                            <% if option.selected_by_user && option.correct %>
                                <option value="<%= option.id %>"  style="background-color: #468847; color: white;"><%= option.content %></option>
                            <% elsif option.selected_by_user %>
                                <option value="<%= option.id %>" style="background-color: #b94a48; color: white;"><%= option.content %>
                                  <span class="label label-info">your answer</span></option>
                            <% elsif option.correct %>
                                <option value="<%= option.id %>" style="background-color: #468847; color: white;"><%= option.content %>
                                  <span class="label label-success">correct answer</span></option>
                            <% else %>
                                <option value="<%= option.id %>"><%= option.content %></option>
                            <% end %>
                        <% end %>
                      </select>
                    </div>
                  </div>
                  <div class="clearfix"></div>
              <% end %>
              </form>
        <% end %>
        <%end%>

   </div>
</div>
