<% content_for :admin_content do %>

<!-- Data block -->
<article class="data-block">
    <div class="data-container">
        <header>
            <h2><span class="awe-tasks"></span> Students</h2>
            <ul class="data-header-actions">
                <%= link_to(new_admins_student_path,:class => "btn btn-primary") do %>
                 Add Student
                <% end %>
            </ul>
        </header>
        <section class="tab-content">
            
            <div class="control-group">
                <h3>Upload Students</h3>
                    <div style="float: middle;height:118px;" class="table table-bordered">
                        <%= form_for "",:url => admins_upload_students_via_excel_path, :method => :post, :html => { :multipart => true } do |fe| %> 
                        <%= fe.file_field :students_excel,:class => "form_fields" %> <br /> <br />
                        <%= fe.submit "Upload Students",:confirm => "Are you sure you want to overwrite existing questions?", :method => :post, :data => { :confirm => 'This will delete current questions for this quiz. Are you sure you want to upload new questions?' },
                                        :class => "btn btn-inverse",:style => "float:left;margin-left: 20px;margin-top:-5px" %>
                        <% end %>
                    </div>
            </div>
            
            <!-- Tab #static -->
            <div class="tab-pane active" id="static">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Credits</th>
                            <th>Confirmed</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <% @students.each do |student| %>
                          <tr>
                            <td>
                                <%= student.full_name %>
                            </td>
                            <td>
                                <%= student.email %>
                            </td>
                            <td>
                                <%= student.credits %>
                            </td>
                            <td>
                                <%= student.confirmed? ? "Yes" : "No"  %>
                            </td>
                            <td class="toolbar">
                            <% if current_user.role? :super_admin %>
                            	<%= link_to('Confirm', { :action => "confirm", :user_id => student.id } , :confirm => 'Are you sure you want to confirm user?',
          							:method => "post", :remote => false, :disable_with => 'Sending reconfirm...') %>
						    	<%= link_to('Resend', { :action => "reconfirm", :user_id => student.id } , :confirm => 'Are you sure you want to resend confirmation?',
          							:method => "post", :remote => false, :disable_with => 'Sending reconfirm...') %>
						    	<%= link_to('Delete', { :action => "delete", :user_id => student.id } , :confirm => 'Are you sure you want to delete this user?',
          							:method => "delete", :remote => false, :disable_with => 'deleting...') %>
          					<% end %>
						    </td>
                          </tr>
                        <% end %>
                    </tbody>
                </table>
        </section>
        
    </div>
</article>
<!-- /Data block -->

<br />

<% end %>

<%= render 'admins/admin_base' %>