<% content_for :nav_menu_header do %>
    Reports
<% end %>
<% content_for :head do %>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script> \
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var sectionData = google.visualization.arrayToDataTable([
                ['Section', 'Your score', 'Highest score yet'],
                <% @full_report['section_report'].each do |key,value| %>
                    <% percent = ((value['correct']*100)/value['total']) %>
                    <% highest_percent = @full_report['highest_attempt']['section_report'][key]['correct'] * 100 / @full_report['highest_attempt']['section_report'][key]['total']%>
                    ['<%=value['section_name']%>',<%= percent %>,<%=highest_percent%>]<%= "," unless key == @full_report['section_report'].keys.last %>
                <% end %>
            ]);

            var options = {
                colors: ['#2f87ed','#d3d3d3'],
                hAxis:  {maxValue:100,minValue:0}
            };

            var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
            chart.draw(sectionData, options);
        }
    </script>

<% end %>
<div id="quiz_result">
  <div class="span12">
    <% if @quiz.quiz_type.name == "FullQuiz" %>
        <%= render "full" %>
    <% elsif @quiz.quiz_type.name == "SectionQuiz"  %>
        <%= render "section" %>
    <% elsif @quiz.quiz_type.name == "CategoryQuiz" %>
        <%= render "category" %>
    <% else %>
        <%= render "topic" %>
    <% end %>
  </div>
</div>