<% content_for :head do %>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script> \
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var sectionData = google.visualization.arrayToDataTable([
                ['Section', 'Your score', 'Highest score yet'],
                <% @full_report['section_report'].each do |key,value| %>
                    <% percent = ((value['correct']*100)/value['total']) %>
                    <% highest_percent = @full_report['highest_attempt']['section_report'][key]['correct'] * 100 / @full_report['highest_attempt']['section_report'][key]['total']%>
                    ['<%=value['section_name']%>',<%= percent %>,<%=highest_percent%>]<%= "," unless key == @full_report['section_report'].keys.last %>
                <% end %>
            ]);

            var options = {
                colors: ['#2f87ed','#d3d3d3'],
                hAxis:  {maxValue:100,minValue:0}
            };

            var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
            chart.draw(sectionData, options);
        }
    </script>

<% end %>
<div id="quiz_result">
  <div class="span12">
    <h3>Test Results</h3>
    <div class="row-fluid">
    <div class="span12">
      <div class="row-fluid">
        <div class="span4">
          <h1><%= total_scaled_score(@full_report['total_score']['correct'].to_f/@full_report['total_score']['total'].to_f)%> / 340</h1>
        </div>
        <div class="span6 align-left">
          <ul class="inline">
            <% @full_report['main_section_report'].each do |key,value| %>
                <li><h3 class="lead"><%=key%></h3></li>
                <li><h3><%= section_scaled_score(value['correct'].to_f/value['total'].to_f)%> / 170</h3></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
   </div>
    <hr>
    <div class="row-fluid">
      <h2>Quiz Section</h2>
      <hr>
      <div class="span4">
        <table class="table">
          <tbody>
          <% @full_report['section_report'].each do |key,value| %>
              <tr>
                <td><h3><%=value['section_name']%></h3></td>
                <td><p><%= value['correct'] %> / <%=  value['total'] %></p> </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div id="chart_div" class="span7" style="height: 200px;"></div>
    </div>
    <div class="row-fluid">
      <hr>
      <h2>Question Types</h2>
      <hr>
      <table class="span6 table">
        <tbody>
        <% @full_report['category_report'].each do |code,value| %>
            <tr>
              <td><h3><%=value['name']%></h3></td>
              <td><p><%= value['correct'] %> / <%= value['total'] %></p></td>
            </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>